 <div *ngIf="isLoading || isDownload; else elseBlock">
   <div *ngIf="isLoading;" style="text-align: center;">
     <!-- <sk-rotating-plane></sk-rotating-plane> -->
     <!-- <sk-fading-circle></sk-fading-circle> -->
     <sk-cube-grid ></sk-cube-grid>
     <p class="textoFadeInOut">Generando información</p>
   </div>
  <div *ngIf="isDownload;" style="text-align: center;">
    <sk-cube-grid ></sk-cube-grid>
    <p class="textoFadeInOut">Generando reporte .CSV</p>
  </div>
</div>


<ng-template #elseBlock>
<div style="width: 1024px; margin: 30px">
  <div class="row">
    <div class="col">
      <select id="selAnioMes" class="custom-select" [(ngModel)]="entidadBus.fecha" >
        <option selected hidden value="0">Elija Fecha</option>
        <option value="201804">201804</option>
        <option value="201803">201803</option>
        <option value="201802">201802</option>
        <option value="201801">201801</option>
        <option value="201712">201712</option>
      </select>
    </div>

    <div class="col">
      <select id="selEntidades" class="custom-select" [(ngModel)]="entidadBus.cEntidad" (change)="onChange_cargaOEF()" name="selEntidades">
        <option selected hidden value="0">Elija Entidad</option>
        <option *ngFor="let ent of arrayEntidades"   [value]="ent.cEntidadFinanciera">
          {{ent.Entidad}}
        </option>
      </select>
    </div>

    <div class="col">
      <select id="selTipoEntidades" [(ngModel)]="entidadBus.cTipoEntidad" (change)="onChange_cargaOEF()" class="custom-select">
        <option selected hidden value="0">Elija Tipo Entidad</option>
        <option *ngFor="let tipEnt of arrayTipoEntidades" [value]="tipEnt.cTipoEntidad">
          {{tipEnt.TipoEntidad}}
        </option>
      </select>
    </div>

    <div class="col">
      <select id="selOtrasEntidades"  [(ngModel)]="entidadBus.cOtraEntidad"  cTipoEntidad class="custom-select">
        <option selected hidden value="0">Elija Otra Entidad</option>
        <option *ngFor="let otrasEnt of arrayOtrasEntidades" [value]="otrasEnt.cEntidadFinanciera">
          {{otrasEnt.Entidad}}
        </option>
      </select>
    </div>

    <div class="col">
      <button type="button" class="btn btn-primary" (click)="procesarReporte()">Procesar</button>
    </div>
  </div>
</div>


<div class="row">
  <table class="reporte">
    <thead>
      <tr>
        <th class="blank"></th>
        <th colspan="5">Clientes con Deuda en la Entidad Financiera</th>
        <th colspan="10">Clientes Comunes con Deuda en Otras Entidades</th>
        <th colspan="4">Totales</th>
      </tr>
      <tr>
        <th class="blank"></th>
        <th>Rango</th>
        <th>Comunes</th>
        <th>%</th>
        <th>Exclusivos</th>
        <th>%</th>
        <th>Al día</th>
        <th>%</th>
        <th>1 a 30</th>
        <th>%</th>
        <th>31 a 60</th>
        <th>%</th>
        <th>61 a 90</th>
        <th>%</th>
        <th>más de 90</th>
        <th>%</th>
        <th>Entidad</th>
        <th>%</th>
        <th>Otras EF</th>
        <th>%</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let matrizMonitor of arrayMatrizMonitor">
        <td class="fijo" style="text-align: left">{{matrizMonitor.cGrupo}}</td>
        <td class="fijo" style="text-align: center">{{matrizMonitor.cRango}}</td>

        <td [style.background-color]="matrizMonitor.comunColor">{{matrizMonitor.comunCli | number}}</td>
        <td [style.background-color]="matrizMonitor.comunColor">{{matrizMonitor.comunPorCli.toFixed(2) | number}}
        </td>

        <td [style.background-color]="matrizMonitor.excluColor">{{matrizMonitor.excluCli | number}}</td>
        <td [style.background-color]="matrizMonitor.excluColor">{{matrizMonitor.excluPorCli.toFixed(2) | number}}
        </td>

        <td [style.background-color]="matrizMonitor.alDiaColor" (click)="download(matrizMonitor.alDiaCod)">
          {{matrizMonitor.alDiaCli | number}}</td>
        <td [style.background-color]="matrizMonitor.alDiaColor">{{matrizMonitor.alDiaPorCli.toFixed(2) | number}}
        </td>

        <td [style.background-color]="matrizMonitor.men30Color">{{matrizMonitor.men30Cli | number}}</td>
        <td [style.background-color]="matrizMonitor.men30Color">{{matrizMonitor.men30PorCli.toFixed(2) | number}}
        </td>

        <td [style.background-color]="matrizMonitor.men60Color">{{matrizMonitor.men60Cli | number}}</td>
        <td [style.background-color]="matrizMonitor.men60Color">{{matrizMonitor.men60PorCli.toFixed(2) | number}}
        </td>

        <td [style.background-color]="matrizMonitor.men90Color">{{matrizMonitor.men90Cli | number}}</td>
        <td [style.background-color]="matrizMonitor.men90Color">{{matrizMonitor.men90PorCli.toFixed(2) | number}}
        </td>

        <td [style.background-color]="matrizMonitor.may90Color">{{matrizMonitor.may90Cli | number}}</td>
        <td [style.background-color]="matrizMonitor.may90Color">{{matrizMonitor.may90PorCli.toFixed(2) | number}}
        </td>

        <td>{{matrizMonitor.totEntCli | number}}</td>
        <td>{{matrizMonitor.totEntPorCli.toFixed(2) | number}}</td>

        <td>{{matrizMonitor.totOtrCli | number}}</td>
        <td>{{matrizMonitor.totOtrPorCli.toFixed(2) | number}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row">

  <table class="reporte">
    <thead>
      <tr>
        <th class="blank"></th>
        <th colspan="5">Deuda de clientes en la Entidad Financiera</th>
        <th colspan="10">Deuda de clientes con Deuda en Otras Entidades</th>
        <th colspan="4">Totales</th>
      </tr>
      <tr>
        <th class="blank"></th>
        <th>Rango</th>
        <th>Comunes</th>
        <th>%</th>
        <th>Exclusivos</th>
        <th>%</th>
        <th>Al día</th>
        <th>%</th>
        <th>1 a 30</th>
        <th>%</th>
        <th>31 a 60</th>
        <th>%</th>
        <th>61 a 90</th>
        <th>%</th>
        <th>más de 90</th>
        <th>%</th>
        <th>Entidad</th>
        <th>%</th>
        <th>Otras EF</th>
        <th>%</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let matrizMonitor of arrayMatrizMonitor">
        <td style="text-align: left">{{matrizMonitor.cGrupo}}</td>
        <td style="text-align: center">{{matrizMonitor.cRango}}</td>

        <td [style.background-color]="matrizMonitor.comunColor">{{matrizMonitor.comunSal | number}}</td>
        <td [style.background-color]="matrizMonitor.comunColor">{{matrizMonitor.comunPorSal.toFixed(2) | number}}
        </td>

        <td [style.background-color]="matrizMonitor.excluColor">{{matrizMonitor.excluSal | number}}</td>
        <td [style.background-color]="matrizMonitor.excluColor">{{matrizMonitor.excluPorSal.toFixed(2) | number}}
        </td>

        <td [style.background-color]="matrizMonitor.alDiaColor">{{matrizMonitor.alDiaSal | number}}</td>
        <td [style.background-color]="matrizMonitor.alDiaColor">{{matrizMonitor.alDiaPorSal.toFixed(2) | number}}
        </td>

        <td [style.background-color]="matrizMonitor.men30Color">{{matrizMonitor.men30Sal | number}}</td>
        <td [style.background-color]="matrizMonitor.men30Color">{{matrizMonitor.men30PorSal.toFixed(2) | number}}
        </td>

        <td [style.background-color]="matrizMonitor.men60Color">{{matrizMonitor.men60Sal | number}}</td>
        <td [style.background-color]="matrizMonitor.men60Color">{{matrizMonitor.men60PorSal.toFixed(2) | number}}
        </td>

        <td [style.background-color]="matrizMonitor.men90Color">{{matrizMonitor.men90Sal | number}}</td>
        <td [style.background-color]="matrizMonitor.men90Color">{{matrizMonitor.men90PorSal.toFixed(2) | number}}
        </td>

        <td [style.background-color]="matrizMonitor.may90Color">{{matrizMonitor.may90Sal | number}}</td>
        <td [style.background-color]="matrizMonitor.may90Color">{{matrizMonitor.may90PorSal.toFixed(2) | number}}
        </td>

        <td>{{matrizMonitor.totEntSal | number}}</td>
        <td>{{matrizMonitor.totEntPorSal.toFixed(2) | number}}</td>

        <td>{{matrizMonitor.totOtrSal | number}}</td>
        <td>{{matrizMonitor.totOtrPorSal.toFixed(2) | number}}</td>
      </tr>
    </tbody>
  </table>

</div>

<div class="row">

  <table class="reporte">
    <thead>
      <tr>
        <th class="blank"></th>
        <th >Clientes</th>
        <th >%</th>
        <th >Deuda</th>
        <th >%</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entRes of arrayEntidadResumen">
        <td style="text-align: left;" [style.background-color]="entRes.color">
          <div (click)="download(entRes.id, entRes.cod, entRes.nombreFile)" class="divDownload">
            {{entRes.accion}}
          </div>
          </td>
        <td >{{entRes.clientes | number}}</td>
        <td >{{entRes.clientesPor.toFixed(2) | number}}</td>
        <td >{{entRes.deuda | number}} </td>
        <td >{{entRes.deudaPor.toFixed(2) | number}} </td>
      </tr>
    </tbody>
  </table>

</div>


</ng-template>